/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

// Master Button ( Controls shape and padding )
.apex-base-btn {
  width: auto;
  display: inline-block;
  padding: 25px 35px;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: $standard-radius;
  font-size: 18px;
  font-weight: 700;
  border: 0;

  @media #{$phone-only} {
    font-size: 15px;
    padding: 20px 15px;
  }

  @media #{$xl-up} {
    font-size: 22px;
  }

  .apex-btn-text {
    transform: scale(1);
    transition: all .4s;
  }

  &:hover,
  &:active,
  &:focus {
    .apex-btn-text {
      transform: scale(1.1);
    }
  }
}

// Button Color Classes
.apex-red-btn {
  background-color: $apex-red;
  color: $white;
  box-shadow: inset 0 0 rgba($black, .15);

  &:hover,
  &:active {
    color: $white;
    box-shadow: inset 0 -100px rgba($black, .15);
  }
}

.apex-black-btn {
  background-color: $black;
  color: $white;

  &:hover,
  &:active {
    background-color: lighten($black, 30%);
    color: $white;
  }
}

.apex-blue-btn {
  background-color: $apex-blue;
  color: $white;

  &:hover,
  &:active {
    background-color: darken($apex-blue, 10%);
    color: $white;
  }
}

.apex-plain-btn {
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  text-transform: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  @media #{$tablet-up} {
    font-size: 26px;
  }
}

.apex-quote-btn {
  background-color: $apex-red;
  color: $white;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: 700;

  &:hover,
  &:active {
    background-color: darken($apex-red, 10%);
    color: $white;
  }

  @media #{$laptop-up} {
    font-size: 30px;
  }
}

.apex-quote-btn.header-bar {
  position: relative;
  font-size: 15px;
  max-width: 107px;
  padding: 15px 25px;

  @media #{$tablet-up} {
    font-size: 24px;
    max-width: 262px;
    padding-top: 35px;
  }
}
