// Global Form Styles
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border-top: 4px solid red !important;
  border-bottom: 4px solid red !important;
  color: red!important;
}

$border-color-active: rgba(15, 22, 24, 1);
$border-color-passive: rgba(15, 22, 24, 0);
input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    font-family: $main-font;
    font-size: 18px;
    padding: 24px 23px 10px;
    margin-top: 15px;
    color: $white;
    min-height: 61px;
    //background: transparent;
    background-color:  rgba($black, .15);
    border-radius: 5px;
    outline: 0;
    transition: border .5s, background .5s;
    border: none;
    position: relative;
    //border-bottom: 4px solid $border-color-passive;
    //border-top: 4px solid $border-color-active;

    &:hover, &:focus, &:active {
      //border-top: 4px solid $border-color-passive;
      //border-bottom: 4px solid $border-color-active;
      color: $white;
      background-color:  rgba($black, .15);
      padding: 24px 23px 10px;
    }

    &.--filled {
      border-top: 4px solid $border-color-passive;
      border-bottom: 4px solid $border-color-active;
      text-transform: none;
    }

    &:focus + label {
      transform: translateY( 50% );
      font-style: italic;
    }

    &::placeholder {
      color: $color-brand-bkg;
    }
  }
}

textarea {
  width: 100%;
  font-family: $main-font;
  border-radius: 5px;
  padding: 24px 20px 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: $white;
  min-height: 113px;
  //background: transparent;
  background-color:  rgba($black, .15);
  outline: 0;
  transition: border .5s, background .5s;
  border: none;
  // border-bottom: 4px solid $border-color-passive;
  // border-top: 4px solid $border-color-active;

  &:hover, &:focus, &:active {
    // border-top: 4px solid $border-color-passive;
    // border-bottom: 4px solid $border-color-active;
    background-color:  rgba($black, .15);
    padding: 24px 20px 10px;
  }

  &::placeholder {
    color: $color-brand-bkg;
  }

  &:focus + label {
    transform: translateY( 50% );
    font-style: italic;
  }

  &.--filled {
    border-top: 4px solid $border-color-passive;
    text-transform: none!important;
    border-bottom: 4px solid $border-color-active;
  }
}

input[type='button'],
button {
  font-family: $main-font;
  line-height: 18px;
}
/* stylelint-enable */

/* Form Scaffolding */

.apex-form-group {
  width: 100%;
  position: relative;
  text-align: left;

  label {
    transition: all .2s;
    position: absolute;
    color: $white;
    padding: 7px 6px;
    //top: 40%;
    transform: translateY( 100% );
    left: 16px;
    &.active {
       transform: translateY( 50% );
       font-style: italic;
    }

  }
}

.apex-action-group {
  width: 100%;
  position: relative;
}




