/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/


//Space Classes

.--margin-space-extra-large {
  margin-bottom: $h-space-xl;
}

.--margin-space-large {
  margin-bottom: $h-space-l;
}

.--margin-space-medium {
  margin-bottom: $h-space-m;
}

.--margin-space-small {
  margin-bottom: $h-space-s;
}

.--section-space-xl {
  margin-bottom: $s-space-xl;
  margin-top: $s-space-xl;
}

.--section-space-l {
  margin-bottom: $s-space-l;
  margin-top: $s-space-l;
}

.--section-space-m {
  margin-bottom: $s-space-m;
  margin-top: $s-space-m;
}

.--section-space-s {
  margin-bottom: $s-space-s;
  margin-top: $s-space-s;
}

.--section-space-top-xl {
  margin-top: $s-space-xl;
}

.--section-space-top-l {
  margin-top: $s-space-l;
}

.--section-space-top-m {
  margin-top: $s-space-m;
}

.--section-space-top-s {
  margin-top: $s-space-s;
}

.--button-space {
  margin-top: 25px;
}
// Wrapper Classes


.apex-main-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 290px;

  @media #{$tablet-prt-only} {
    max-width: 800px;
    width: 76%;
  }

  @media #{$tablet-lnd-only} {
    max-width: 950px;
  }

  @media #{$laptop-only} {
    max-width: 1100px;
  }

  @media #{$desktop-only} {
    width: 80%;
  }

  @media #{$xl-up} {
    max-width: 1700px;
  }

  @media #{$phone-only} {
    width: 90%;
  }
}
