/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: 16px;
  color: $black;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 400;
  color: inherit;
  margin-bottom: 25px;
}

//Heading Size Classes
.--font-size-extra-large {
  font-size: $h-size-xl;
}

.--font-size-large {
  font-size: $h-size-l;
}

.--font-size-medium-large {
  font-size: $h-size-ml;
}

.--font-size-medium {
  font-size: $h-size-m;
}

.--font-size-small {
  font-size: $h-size-s;
}

.--font-size-extra-small {
  font-size: $h-size-xs;
}

// Responsive Font Size Maps
$p-font-sizes: (
  null  : 15px,
  $landscape : $p-size
);

$h1-font-sizes: (
  null  : 50px,
  $landscape: $h-size-xl,
  $xl-up: $h-size-xl + 10
);

$h2-font-sizes: (
  null  : 40px,
  $landscape: $h-size-l,
  $xl-up: $h-size-l + 10
);

$h3-font-sizes: (
  null  : 35px,
  $landscape: $h-size-m,
  $xl-up: $h-size-m + 10
);

$h4-font-sizes: (
  null  : 30px,
  $landscape: $h-size-s,
  $xl-up: $h-size-s + 10
);

$h5-font-sizes: (
  null  : 20px,
  $landscape: $h-size-xs,
  $xl-up: $h-size-xs + 10
);

$h6-font-sizes: (
  null  : 15px,
  $landscape: $h-size-ml,
  $xl-up: $h-size-ml + 10
);

// Links
$link-font-sizes: (
  null  : 15px,
  $landscape: $a-size
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: $p-space;

  &:last-of-type {
    margin-bottom: $p-space-last;
  }

  @include font-size($p-font-sizes);
}

h1,
.h1 {
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

.mdev-main-nav-links {
  @include font-size($link-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.mdev-hero-text {
  @include font-size($h1-font-sizes);
  line-height: 120%;
  color: $color-brand-primary;
  font-weight: 700;
}
