/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// TODO - Update with project style guide
// Main colors
$color-brand-primary: #16b1a9;
$color-brand-accent: #c4ee1e;
$color-brand-bkg: #0f1618;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #fff;
$grey: #ccc;
$apex-blue: #6aaae4;
$apex-red: #ed2c38;

// Main Font
$main-font: 'Montserrat', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 700;
$body-weight: 400;

// Sizing Variables

// Heading Sizing

$h-size-xl: 60px;
$h-size-l: 50px;
$h-size-ml: 47px;
$h-size-m: 40px;
$h-size-s: 30px;
$h-size-xs: 24px;

// Spacing Variables

// Heading  Spacing
$h-space-xl: 60px;
$h-space-l: 40px;
$h-space-m: 30px;
$h-space-s: 10px;

$p-space-end: 60px;


// Button Variables

// Radius Variables
$standard-radius: 4px;

//Clipping Paths
